{
    "plugins": ["@loadable/babel-plugin", [
        "module-resolver",
        {
          "alias": {
            "#components": "./client/components"
          }
        }
      ]
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
}